.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    justify-content: flex-end!important;
    flex-basis: auto;
    }

header #title {
    width: 65%;
    text-align: center;
    font-weight: 600;
    color: white;

}

header p {
    color: white;
    font-weight: 700;
    font-size: 24px;
    width: 65%;
    text-align: center;
}

header .jumbotron {
    height: 735px;
}

progress1 {
    width: 100%;
}
